<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Test App</title>
</head>
<body>
    <h1>Welcome to home page</h1>
    <div>
        <form action="/welcome/" method="POST">
            <label for="username">Enter name</label>
            <input name="username" id="username" type="text">
            <input type="submit">
        </form>
    </div>
    <br><br>
    <div>
        <form action="/image-detail/" method="POST" enctype="multipart/form-data">
            <label for="image_file">Pick image file from your PC</label>
            <input name="image_file" id="image_file" type="file" formenctype="multipart/form-data">
            <input type="submit">
        </form>
    </div>
    <br><br>
    <div>
        <form action="/predict/" method="POST" enctype="multipart/form-data">
            <label for="image_digit">Choose digit image to predict</label>
            <input name="image_digit" id="image_digit" type="file" formenctype="multipart/form-data">
            <input type="submit">
        </form>
    </div>
</body>
</html>